# personlig
*.sh


*.tfvars
*.tfvars.json
!*.example.tfvars
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
.terraform/
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.env
.env.*

